.header {
  position: relative;
  background-color: white;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerContainer {
  position: absolute;
  top: 30%; /* Adjusted value to move the search bar more up */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.headerSearch {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
  margin-top: 10px; /* Adjust this value to move the search bar up */
}

.featuredImg {
  position: absolute;
  width: 100vw;
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.exploreBanner {
  position: absolute;
  top: 20vh;
  text-align: center;
  z-index: 2;
  font-size: 2vw;
  color: white; /* Changed text color to white */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Added shadow behind text */
}

.background-slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out; /* Increased duration for smoother transition */
}

@keyframes slide {
  0% { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.background-slider img:nth-child(1) {
  animation: slide 100s infinite;
}

.background-slider img:nth-child(2) {
  animation: slide 100s 10s infinite;
}

.background-slider img:nth-child(3) {
  animation: slide 100s 20s infinite;
}

.background-slider img:nth-child(4) {
  animation: slide 100s 30s infinite;
}

.background-slider img:nth-child(5) {
  animation: slide 100s 40s infinite;
}

.background-slider img:nth-child(6) {
  animation: slide 100s 50s infinite;
}

.background-slider img:nth-child(7) {
  animation: slide 100s 60s infinite;
}

.background-slider img:nth-child(8) {
  animation: slide 100s 70s infinite;
}

.background-slider img:nth-child(9) {
  animation: slide 100s 80s infinite;
}

.background-slider img:nth-child(10) {
  animation: slide 100s 90s infinite;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* New styles for Rooms and Guests Popper */
.field-label {
  display: flex;
  align-items: center;
}

.field-buttons {
  display: flex;
  align-items: center;
}

.field-buttons .MuiIconButton-root {
  padding: 5px;
  border-radius: 50%; /* To ensure buttons are not oval */
  border: 1px solid #262e5d;
  width: 24px;
  height: 24px;
}

.field-buttons .MuiIconButton-root:hover {
  background-color: #f1f1f1;
}

.field-buttons .MuiBox-root {
  margin: 0 50px; /* Added more space between the buttons and the number */
}