.navbar {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  border-bottom: 5px solid #262e5d;
}

.navbar::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px; /* Adjust thickness */
  background-color: #262e5d; /* Adjust color */
  z-index: 1;
}

.navContainer {
  position: relative;
  width: 100%;
  max-width: 1750px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
}

.Ascendalogo {
  width: 150px; /* Adjusted width */
  height: 30px; /* Adjusted height */
  cursor: pointer;
}

.logo {
  font-weight: 600;
  font-size: xx-large;
  padding-left: 1vw;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  background-color: transparent;
  font-size: medium;
}
