.header {
  position: absolute;
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 20px 0px 0px 0px; */
  display: wrap;
  /* align-items: center; */
  justify-content: space-between;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0d1d63;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.headerSearch {
  /* height: 60px; */
  background-color: white;
  display: flex;
  align-items: left;
  justify-content: space-around;
  padding: 10px 10px;
  border-radius: 5px;
  position: absolute;
  width: 55vw;
  height: wrap;
  /* max-width: 1024px; */
  z-index: 3;
  left: 5vw;
  top: 5vh;
  font-size: 1.2vw;
}


.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.featuredImg{
  position: relative;
  width: 100vw;
  min-width: 100%;
  min-height: 100vh;
  /* height: 80%; */
  object-fit: cover;
  z-index: 2;
  overflow: hidden;
}
.exploreBanner {
  position: absolute;
  align-items: right;
  justify-content: space-around;
  top: 5vh; /* Adjust based on your design */
  left: 80%;
  /* transform: translateX(-50%); */
  text-align: right;
  z-index: 3;
  font-size: 3vw;
  color: 0071c2;
  width: 30vw;
}